<div>
    <h1 id="Services" class="font-hello-summer">Оплата</h1>
</div>
<hr class="hr--half" />
<div class="row Content-Block-Row">
    <div class="Content-Block-Col-Image col-xs-12 col-md-8">
        <img src="/img/cashback.webp" class="img-responsive box" />
    </div>
    <div class="Content-Block-Col-Text col-xs-12 col-md-4 Content-Block-Col-Text--noBlurb">
        <p class="Headline--Eyebrow u-margin-bottom-30 u-no-margin-top">
        </p>
        <h3 class="Content-Block-H3">
            Группа компаний ПУТЕШЕСТВУЙ! предлагает своим клиентам следующие возможности оплаты Заказов:
        </h3>
        <hr class="hr--half" />
        <div class="Content-Block-Text-Wrap sidebar-dark">
            <p class="Content-Block-Desc"></p>
            <ul>
                <li>
                    1. Оплата наличными и банковскими картами в офисе компании.
                </li>
                <li>
                    2. Безналичная оплата (со счета юридического или физического лица).
                </li>
                <li>
                    3. <a href="">Онлайн-платеж</a>
                    оплата услуг, предоставляемых Группой компаний ПУТЕШЕСТВУЙ! банковскими картами
                    через Интернет. Зачисление средств производится в режиме онлайн. К оплате принимаются банковские
                    карты VISA, MasterCard, МИР.
                </li>
            </ul>
            <hr class="hr--half" />
            <p>
                Посмотреть детальную информацию по Заказу и доплатить онлайн Вы можете в
                <a href="">личном кабинете</a>.
            </p>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2 class="h2-guest">
            ВАЖНО! Онлайн-платеж. Примечание для клиентов Сбербанка
        </h2>
    </div>
</div>
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="col-xs-12 col-md-6 Quote-Left-Column Quote-Right-Column-white">
            <div class="Quote-Right-Content">
                <ul class="u-listUnstyled List-Line List-Line--Reverse-w u-margin-bottom-40">
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Чтобы сделать покупки в сети интернет более безопасными, Сбербанком России (ОАО) внедрена технология
                            проведения операций в сети интернет в защищенном режиме (с использованием технологии Verified by Visa
                            и MasterCard SecureCode).
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            В отличие от стандартной технологии оплаты покупки в сети интернет, в процессе
                            проведения операции Вам будет направлен запрос на ее подтверждение. Для подтверждения операции Вам
                            необходимо ввести одноразовый пароль, который Вы можете бесплатно получить в банкоматах Сбербанка
                            России с вводом ПИН-кода кода или посредством SMS на мобильный телефон
                            (при наличии услуги Мобильный банк).
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            При получении одноразовых паролей в банкоматах Вам будет распечатан чек c одноразовыми паролями.
                            Каждый пароль предназначен для проведения одной операции. Обращаем Ваше внимание, что список
                            одноразовых паролей необходимо получить до проведения операции на сайте.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 Quote-Right-Column">
            <div class="Quote-Right-Content">
                <ul class="u-listUnstyled List-Line List-Line--Reverse u-margin-bottom-40">
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            SMS-сообщение с одноразовым паролем будет направлено на тот номер телефона, к которому подключена
                            услуга &quot;Мобильный банк&quot; по используемой для оплаты карте, непосредственно в процессе
                            оплаты (при выборе варианта &quot;одноразовый пароль по SMS&quot;). Полученный пароль предназначен
                            только для проведения текущей операции.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Во избежание неправомерного использования Вашей карты храните одноразовые пароли в недоступном
                            для посторонних лиц месте, не передавайте их для совершения операций другим лицам. Помните,
                            что в соответствии с Условиями использования карты, Держатель несет ответственность по операциям,
                            совершенным с использованием одноразовых паролей. В случае утраты чека с паролями Вам необходимо
                            получить новый чек с одноразовыми паролями. После получения нового чека использование паролей
                            из старого чека невозможно.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Адреса банкоматов Сбербанка России, в которых возможно получение одноразовых паролей, Вы можете
                            уточнить <a href="http://www.sbrf.ru">здесь</a>.&nbsp;
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>