<div>
    <h1 id="Services">Контакты</h1>
</div>
<hr class="hr--half" />
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="Content-Block-Col-Image col-xs-12 col-md-8">
            <div class="row Content-Block-Row">
                <div class="col-xs-12 col-md-6 Quote-Left-Column">
                    <div id="map"></div>
                </div>
                <div class="col-xs-12 col-md-6 Quote-Right-Column">
                    <div class="Quote-Right-Content">
                        <h4 class="Quote-Title">
                            Адрес: 117246, Москва, Научный проезд д.19
                        </h4>
                        <p class="Quote-Text">
                            Выйти из первого вагона из центра м.Калужская, в переходе налево до конца и направо вверх,
                            далее налево вдоль т/ц Калужский пройти пешком 10 минут по ул.Обручева до пересечения с
                            Научным проездом. Повернуть налево, пройти 100 метров до Бизнес-центра. На ресепшн БЦ
                            местный телефон 2860.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Content-Block-Col-Text col-xs-12 col-md-4 Content-Block-Col-Text--noBlurb">
            <h3 class="Content-Block-H3">ООО "Агентство "ПУТЕШЕСТВУЙ!"</h3>
            <div class="Content-Block-Text-Wrap sidebar-dark">
                <p class="Content-Block-Desc"></p>
                <p>
                    <span>
                        <strong>М. Калужская</strong>
                    </span>
                </p>
                <hr class="hr--half" />
                <p>
                    <span>
                        <strong>Тел.:</strong><b>&nbsp;&nbsp;</b>&nbsp;+7 495 955 24 24, +7 499 638 22 58
                    </span>
                    <br />
                    <strong>
                        <img alt="" src="/img/whatsapp-256.ico" style="width: 15px; height: 15px;" />&nbsp;
                        <a href="https://wa.me/79689401802">WhatsApp</a>,&nbsp;
                        <img alt="" src="/img/viber-4-256.ico" style="width: 15px; height: 16px;" />&nbsp;
                        <a href="https://wa.me/79689401802">Viber</a>
                    </strong>
                    <br />
                    <strong>Факс:</strong><b>&nbsp;</b>&nbsp;+7 499 638 22 57
                    <br />
                    <span>
                        <strong>Email:</strong>
                        <a href="mailto:booking1@ptsagency.ru">booking1@ptsagency.ru</a>
                    </span>
                </p>
                <hr class="hr--half" />
                <p>
                    <strong>Режим работы офиса:&nbsp;</strong>
                    <br />
                    <span>понедельник-пятница: с 10:00 до 20:00</span>
                    <br />
                    <span>суббота, воскресенье:&nbsp;</span>
                    <span>выходной</span>
                </p>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer sidebar-dark">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2>
            Реквизиты организации
        </h2>
        <p>
            <div>
                Полное наименование организации:<br />
                Общество с ограниченной ответственностью &laquo;Агентство &laquo;ПУТЕШЕСТВУЙ!&raquo;<br />
                <div>Юридический адрес: 117246, Москва, Научный проезд, д. 19</div>
                <div>
                    Фактический адрес: 117246, Москва, Научный проезд, д. 19<br />
                    ИНН/ КПП: 7721252769/772801001<br />
                    ОГРН: 1037721008423 от 17.03.2003 г.<br />
                    <div>ОКАТО: 45293590000</div>
                    <div>ОКПО: 14177073</div>
                    <div>ОКВЭД: 79.90</div>
                </div>
            </div>
        </p>
    </div>
</div>
<script type="module" src="~/js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>

