<div>
    <h1 id="Services">О компании</h1>
</div>
<hr class="hr--half" />
<div class="container Section-Intro-Text u-component-spacer">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2 class="h2-guest">
            Дайвинг в признанных центрах подводных погружений
        </h2>
    </div>
</div>
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="Content-Block-Col-Image col-xs-12 col-md-8">
            <img src="/img/diving.jpg" class="img-responsive box" />
        </div>
        <div class="col-xs-12 col-md-4 Quote-Right-Column">
            <div class="Quote-Right-Content">
                <h4 class="Content-Block-H3 h4-black-box">
                    Направления
                </h4>
                <hr class="hr--half" />
                <ul class="u-listUnstyled List-Line u-margin-bottom-40">
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center ">
                            Антигуа
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center">
                            Барбадос
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center">
                            Куба
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center">
                            Ямайка
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center">
                            Филиппины
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2 class="h2-guest">
            Пляжный отдых в странах Карибского региона
        </h2>
    </div>
</div>
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="Content-Block-Col-Image col-xs-12 col-md-8 col-md-push-4">
            <img src="/img/beach.jpg" class="img-responsive box" />
        </div>
        <div class="col-12 col-md-4 col-md-pull-8 Quote-Right-Column-white">
            <div class="Quote-Right-Content">
                <h4 class="Content-Block-H3 h4-black-box white-content">
                    Направления
                </h4>
                <hr class="hr--half white-content" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse-w u-margin-bottom-40">
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">России</div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Индонезия
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Таиланд
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Мальдивские острова
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Сейшелы
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Шри-Ланка
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2 class="h2-guest">
            Экскурсионные программы по Европе
        </h2>
    </div>
</div>
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="Content-Block-Col-Image col-xs-12 col-md-8">
            <img src="/img/milan.jpg" class="img-responsive box" />
        </div>
        <div class="col-xs-12 col-md-4 Quote-Right-Column">
            <div class="Quote-Right-Content">
                <h4 class="Content-Block-H3 h4-black-box">
                    Направления
                </h4>
                <hr class="hr--half" />
                <ul class="u-listUnstyled List-Line u-margin-bottom-40">
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center ">
                            Италия
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center">
                            Греция
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center">
                            Испания
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center">
                            Португалия
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center">
                            Великобритания
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center">
                            Франция
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container Section-Intro-Text u-component-spacer">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2 class="h2-guest">
            Cафари
        </h2>
    </div>
</div>
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="Content-Block-Col-Image col-xs-12 col-md-8 col-md-push-4">
            <img src="/img/safari.jpg" class="img-responsive box" />
        </div>
        <div class="col-12 col-md-4 col-md-pull-8 Quote-Right-Column-white">
            <div class="Quote-Right-Content">
                <h4 class="Content-Block-H3 h4-black-box white-content">
                    Направления
                </h4>
                <hr class="hr--half white-content" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse-w u-margin-bottom-40">
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">России</div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Кении и все виды активного отдыха на островах
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Реюньон
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Маврикий
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2 class="h2-guest">
            Оздоровительный отдых на лучших термальных курортах мира
        </h2>
    </div>
</div>
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="Content-Block-Col-Image col-xs-12 col-md-8">
            <img src="/img/thai.jpg" class="img-responsive box" />
        </div>
        <div class="col-xs-12 col-md-4 Quote-Right-Column">
            <div class="Quote-Right-Content">
                <h4 class="Content-Block-H3 h4-black-box">
                    Направления
                </h4>
                <hr class="hr--half" />
                <ul class="u-listUnstyled List-Line u-margin-bottom-40">
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center">
                            Израиле
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center">
                            Китае на о. Хайнань
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center">
                            Вьетнаме
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center">
                            Таиланде
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2 class="h2-guest">
            Специально для молодоженов предлагаются романтические свадебные программы
        </h2>
    </div>
</div>
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="Content-Block-Col-Image col-xs-12 col-md-8 col-md-push-4">
            <img src="/img/wedding.jpg" class="img-responsive box" />
        </div>
        <div class="col-12 col-md-4 col-md-pull-8 Quote-Right-Column-white">
            <div class="Quote-Right-Content">
                <h4 class="Content-Block-H3 h4-black-box white-content">
                    Направления
                </h4>
                <hr class="hr--half white-content" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse-w u-margin-bottom-40">
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Мальдивы
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Таити
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Маврикий
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2 class="h2-guest">
            Новый год, красочные карнавалы и национальные праздники
        </h2>
    </div>
</div>
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="Content-Block-Col-Image col-xs-12 col-md-8">
            <img src="/img/brazil.jpg" class="img-responsive box" />
        </div>
        <div class="col-xs-12 col-md-4 Quote-Right-Column">
            <div class="Quote-Right-Content">
                <h4 class="Content-Block-H3 h4-black-box">
                    Направления
                </h4>
                <hr class="hr--half" />
                <ul class="u-listUnstyled List-Line u-margin-bottom-40">
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center ">
                            Бразилии
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center">
                            Коста-Рика
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center">
                            Мексика
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text-center">
                            Перу
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2 class="h2-guest">
            Комбинированные программы
        </h2>
    </div>
</div>
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="Content-Block-Col-Image col-xs-12 col-md-8 col-md-push-4">
            <img src="/img/dubai.jpg" class="img-responsive box" />
        </div>
        <div class="col-12 col-md-4 col-md-pull-8 Quote-Right-Column-white">
            <div class="Quote-Right-Content">
                <h4 class="Content-Block-H3 h4-black-box white-content">
                    Направления
                </h4>
                <hr class="hr--half white-content" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse-w u-margin-bottom-40">
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">России</div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Малайзии
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            ОАЭ
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Сейшелы
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Сингапур
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2 class="h2-guest">
            ООО &quot;Агентство &quot;Путешествуй!&quot; в составе группы компаний &quot;Путешествуй!&quot;
            работает на российском туристическом рынке с 1989 года.
        </h2>
    </div>
</div>
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="col-xs-12 col-md-6 Quote-Left-Column">
            <img src="/img/guest3.png" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-md-6 Quote-Right-Column">
            <div class="Quote-Right-Content">
                <ul class="u-listUnstyled List-Line List-Line--Reverse u-margin-bottom-40">
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Мы сами создаем туристский продукт для самых взыскательных клиентов
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Мы реализуем наши туристский продукт через собственный фирменный офис продаж
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Мы поддерживаем многолетние прямые связи с авиакомпаниями и отелями
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Наш конек - разработка и создание нового, оригинального туристского продукта
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            В состав нашего туристского продукта могут входить как отдельные услуги (проживание, перелет и т.д.),
                            так и &nbsp;совокупность услуг;&nbsp;
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            принцип &nbsp;&quot;продуктовой корзины в супермаркете&quot; позволяет нашим клиентам как самостоятельно,
                            так и с нашей квалифицированной помощью формировать индивидуальные заказы, максимально отвечающие
                            потребностях наших клиентов
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            каждая предлагаемая нами услуга имеет свою собственную стоимость и, по сути, является самостоятельным
                            туристским продуктом. Такой подход делает механизм ценообразования абсолютно прозрачным для наших клиентов,
                            позволяя нашим клиентам делать осмысленный выбор
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2 class="h2-guest">
            Агентство &laquo;Путешествуй!&raquo; &ndash; ваш надежный партнер
        </h2>
        <p class="p-guest">
            Открывайте с нами мир по-новому и путешествуйте с удовольствием!
        </p>
    </div>
</div>
