<div>
    <h1 id="Services" class="font-hello-summer">Подарочный сертификат</h1>
</div>
<hr class="hr--half" />
<div class="row Content-Block-Row">
    <div class="Content-Block-Col-Image col-xs-12 col-md-8">
        <img src="/img/cashback.webp" class="img-responsive box" />
    </div>
    <div class="Content-Block-Col-Text col-xs-12 col-md-4 Content-Block-Col-Text--noBlurb">
        <p class="Headline--Eyebrow u-margin-bottom-30 u-no-margin-top">
            05 марта 2020 г.
        </p>
        <h3 class="Content-Block-H3">
            Возвращаем 3% от стоимости наземного обслуживания!
        </h3>
        <hr class="hr--half" />
        <div class="Content-Block-Text-Wrap sidebar-dark">
            <p class="Content-Block-Desc"></p>
            <ul>
                <li>
                    Только для постоянных клиентов компании &laquo;ПУТЕШЕСТВУЙ!&raquo;.
                </li>
                <li>
                    Учитывается при следующем Заказе, в течение календарного года с Заказа предыдущего.
                </li>
                <li>
                    Не учитывается при &quot;срочном&quot; Заказе (менее 14 дней до заезда).
                </li>
            </ul>
            <p></p>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer sidebar-dark">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2>
            В случае Вашей заинтересованности мы с удовольствием обсудим детали.
        </h2>
        <p>
            Телефон: +7 495 955 24 24, WhatsApp:
            <a href="https://wa.me/79689401802">
                +7 968 940 18 02
            </a>
        </p>
    </div>
</div>