<div>
    <h1 id="Services">Бронировать раньше - дешевле!</h1>
</div>
<hr class="hr--half" />
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="col-xs-12 col-md-6 Quote-Left-Column">
            <img src="/img/guest3.webp" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-md-6 Quote-Right-Column">
            <div class="Quote-Right-Content">
                <h3 class="Content-Block-H3 h4-black-box">
                    Условия
                </h3>
                <hr class="hr--half" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse u-margin-bottom-40">
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Только для постоянных клиентов компании ПУТЕШЕСТВУЙ!
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Во-первых, цены в отелях - минимальные
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Во-вторых, наличие мест максимальное
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            В-третьих, условия аннуляции бронирования самые льготные
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Ну и вишенка на торте: при бронировании за 180 дней и более дополнительная скидка 10%
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Только для клиентов компании Путешествуй!
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer sidebar-dark">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2>
            В случае Вашей заинтересованности мы с удовольствием обсудим детали.
        </h2>
        <p>
            <div>
                Телефон: +7 495 955 24 24, WhatsApp: <a href="https://wa.me/79689401802" target="_blank">+7 968 940 18 02</a>
            </div>
        </p>
    </div>
</div>
