<div>
    <h1 id="Services">Программа Привлечения Гостей</h1>
</div>
<hr class="hr--half" />
<div class="row Content-Block-Row">
    <div class="Content-Block-Col-Image col-xs-12 col-md-8">
        <img src="/img/guest2.jpeg" class="img-responsive box" />
    </div>
    <div class="Content-Block-Col-Text col-xs-12 col-md-4 Content-Block-Col-Text--noBlurb sidebar-dark">
        <p class="Headline--Eyebrow u-margin-bottom-30 u-no-margin-top">
            16 декабря 2019 г.
        </p>
        <hr class="hr--half" />
        <h3 class="Content-Block-H3 h4-black-box">
            Отели, участвующие в Программе Привлечения:
        </h3>
        <ul class="li-Text">
            <li>
                <a href="">Movenpick Resort Spa Kuredhivaru Maldives - 5*</a>
            </li>
            <li>
                <a href="">Outrigger Konotta Maldives Resort - 5*</a>
            </li>
            <li>
                <a href="">The Standard Huruvalhi - 5*</a>
            </li>
            <li>
                <a href="">Westin Maldives Miriandhoo Resort - 5*</a>
            </li>
            <li>
                <a href="">The Residence Maldives at Dhigurah - 5*</a>
            </li>
        </ul>
        <hr class="hr--half" />
        <h3 class="Content-Block-H3 h4-black-box">
            Подарки, участвующие в Программе Привлечения:
        </h3>
        <ul class="li-Text">
            <li>
                <a href="https://www.apple.com/ru/apple-watch-series-5/">Apple Watch Series 5</a>
            </li>
            <li>
                <a href="https://gopro.ru/collection/cameras/product/kamera-gopro-hero8">GoPro HERO8 Black Edition</a>
            </li>
            <li>
                <a href="https://www.cremedelamer.ru/product/22959/67529/the-coveted-moisture-collection">La Mer The Coveted Moisture Collection</a>
            </li>
        </ul>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2 class="h2-guest">
            Предлагаем Вашему вниманию Программу Привлечения Гостей
        </h2>
        <p class="p-guest">
            Наша компания, как участник Программы Привлечения Гостей,
            получила право предлагать своим клиентам некоторые отели, недавно или
            сравнительно недавно открывшиеся на Мальдивах.
        </p>
    </div>
</div>
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="col-xs-12 col-md-6 Quote-Left-Column">
                <img src="/img/guest4.png" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-md-6 Quote-Right-Column">
            <div class="Quote-Right-Content-s">
                <h4 class="Content-Block-H3 h4-black-box">
                    Условия
                </h4>
                <hr class="hr--half" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse u-margin-bottom-40">
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Программа Привлечения распространяется только на тех гостей, которые хотя бы один раз были на
                            Мальдивах, воспользовавшись услугами нашей компании.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Специальные цены на проживание в отелях с 01 января до 31 декабря 2020 года.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Любое бронирование проживания, на срок не менее семи ночей, поощрять подарком на выбор гостя.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Повторное бронирование в любой из участвующих в программе отелей, поощрять бонусной ночью за
                            каждые семь ночей проживания. Бонусные ночи будут присоединены к тем бонусным ночам, которые,
                            возможно, будут действовать в отеле на период бронирования.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Бронирования на период с 01.01.20 по 30.04.20 должны быть оформлены и подтверждены до 20.12.19.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Бронирования на период с 01.05.20 по 30.09.20 должны быть оформлены и подтверждены до 31.03.20.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Бронирования на период с 01.10.20 по 31.12.20 должны быть оформлены и подтверждены до 31.08.20.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer sidebar-dark">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2>
            В случае Вашей заинтересованности мы с удовольствием обсудим детали.
        </h2>
        <p>
            <div>
                Телефон: +7 495 955 24 24, WhatsApp: <a href="https://wa.me/79689401802" target="_blank">+7 968 940 18 02</a>
            </div>
        </p>
    </div>
</div>
