<div>
    <h1 id="Services">Отдыхать чаще - Выгоднее!</h1>
</div>
<hr class="hr--half" />
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="col-xs-12 col-md-6 Quote-Left-Column">
            <img src="/img/guest1.webp" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-md-6 Quote-Right-Column">
            <div class="Quote-Right-Content">
                <h3 class="Content-Block-H3 h4-black-box">
                    Условия
                </h3>
                <hr class="hr--half" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse u-margin-bottom-40">
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Только для постоянных клиентов компании ПУТЕШЕСТВУЙ!
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            В течение календарного 2020 года
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Во втором заказе каждая десятая ночь предоставляется бесплатно
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            В третьем и последующих заказах предоставляются две бесплатные ночи, при бронировании
                            проживания от 10 ночей
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Бонусные ночи будут присоединены к скидкам и тем бонусным ночам, которые, возможно, будут
                            действовать в отеле на период бронирования
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Для участия в программе необходимо при бронировании указать фамилию постоянного клиента
                            компании ПУТЕШЕСТВУЙ! и его персональный код
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer sidebar-dark">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2>
            В случае Вашей заинтересованности мы с удовольствием обсудим детали.
        </h2>
        <p>
            <div>
                Телефон: +7 495 955 24 24, WhatsApp: <a href="https://wa.me/79689401802" target="_blank">+7 968 940 18 02</a>
            </div>
        </p>
    </div>
</div>
