<div>
    <h1 id="Services" class="font-hello-summer">Проживание</h1>
</div>
<hr class="hr--half" />
<div class="row Content-Block-Row">
    <div class="Content-Block-Col-Image col-xs-12 col-md-8">
        <img src="/img/cashback.webp" class="img-responsive box" />
    </div>
    <div class="Content-Block-Col-Text col-xs-12 col-md-4 Content-Block-Col-Text--noBlurb">
        <h3 class="Content-Block-H3">
            Выбор отеля один из самых важных этапов в подборе тура.
        </h3>
        <hr class="hr--half" />
        <div class="Content-Block-Text-Wrap sidebar-dark">
            <p class="Content-Block-Desc"></p>
            <ul>
                <li>
                    Определиться с выбором тура вам помогут специалисты агентства Путешествуй
                </li>
                <li>
                    C помощью нашей поисковой системы вы сможете самостоятельно исследовать отели, почитать информацию,
                    отзывы и советы.
                </li>
            </ul>
            <p></p>
        </div>
    </div>
</div>