<div>
    <h1 id="Services">Подарочный сертификат</h1>
</div>
<hr class="hr--half" />
<div class="row Content-Block-Row">
    <div class="Content-Block-Col-Image col-xs-12 col-md-8">
        <img src="/img/cashback.jpeg" class="img-responsive box" />
    </div>
    <div class="Content-Block-Col-Text col-xs-12 col-md-4 Content-Block-Col-Text--noBlurb">
        <p class="Headline--Eyebrow u-margin-bottom-30 u-no-margin-top">
            Дорогие друзья!
        </p>
        <h3 class="Content-Block-H3">
            Специально для вас, наша компания запускает новую услугу - ПОДАРОЧНЫЙ СЕРТИФИКАТ.
        </h3>
        <hr class="hr--half" />
        <div class="Content-Block-Text-Wrap sidebar-dark">
            <p class="Content-Block-Desc"></p>
            <ul>
                <li>
                    ПОДАРОЧНЫЙ СЕРТИФИКАТ &nbsp;- это возможность подарить незабываемый отдых или забронировать авиабилет
                    в любую точку мира для ваших друзей и близких
                </li>
                <li>
                    Сертификат дает право на получение любых услуг в Агентстве &quot;ПУТЕШЕСТВУЙ!&quot; &nbsp;на
                    указанную на нем сумму
                </li>
                <li>
                    Сертификаты выпускаются на сумму любого номинала, кратную 50 000 рублей
                </li>
            </ul>
            <p></p>
        </div>
    </div>
</div>