<div>
    <h1 id="Services">Корпоративный отдых</h1>
</div>
<hr class="hr--half" />
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="col-xs-12 col-md-6 Quote-Left-Column Quote-Right-Column-white">
            <div class="Quote-Right-Content">
                <h4 class="Content-Block-H3 h4-black-box white-content">
                    Мы поможем вам
                </h4>
                <hr class="hr--half white-content" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse-w u-margin-bottom-40">
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Подобрать практически любые страны под ваш бюджет
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Организовать визовую поддержку
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Забронировать любой перелёт
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Заказать VIP - трансфер в любой точке мира
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Арендовать отель
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Предоставить услуги переводчика
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Арендовать &nbsp;конференц-зал с необходимой аппаратурой
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Выбрать развлекательную программу
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Организовать кофе-брейки и фуршеты.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 Quote-Right-Column">
            <div class="Quote-Right-Content">
                <h3 class="Content-Block-H3 h4-black-box">
                    О нас
                </h3>
                <hr class="hr--half" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse u-margin-bottom-40">
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Наша компания за 25 лет на рынке туризма накопила огромный опыт в организации корпоративного отдыха,
                            проведении семинаров и конференций за рубежом, а так же любых других мероприятий, которые включает в
                            себя деловой туризм ( M.I.C.E. )
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Несмотря на то, что мы основной наш профиль - пляжный отдых в экзотических южных странах, и готовы
                            организовать для вас корпоративную поездку практически в любую страну мира. Вы сможете совместить
                            корпоративный отдых или семинар с экскурсионными турами, горными лыжами, дайвинг-сафари или с
                            приключенческими соревнованиями, направленными на выработку и укрепление командного духа
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Мы понимаем, насколько важно точное соблюдение требований заказчика при организации корпоративных
                            выездов за границу и наша фирма обладаем всеми &nbsp;необходимыми знаниями и опытом для решения
                            вопросов и удоволетворения всех требований.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            По нашему многолетнему опыту, зарубежная поездка может быть не дороже, чем отдых в подмосковных
                            отелях, а условия проживания, сервис, питание, развлекательная программа, техническое обеспечение
                            корпоративных мероприятий - на порядок лучше, однако не стоит забывать, что стоимость корпоративного
                            отдыха напрямую зависит от сезонного спроса на направления. Мы поможем выбрать вам оптимальное решение
                            &nbsp;устраивающее вас.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Корпоративный отдых за границей - признак успешной компании, выгодно подчеркивающий успех ведения дел
                            в глазах персонала, партнеров и конкурентов. Ежегодный корпоративный отдых может стать одним из
                            элементов социального пакета для сотрудников вашего предприятия
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2 class="h2-guest">
            Воспользуйтесь нашими услугами и вы не пожалеете о своём выборе
        </h2>
    </div>
</div>