@{
    ViewData["Title"] = "Home page";
}



<hr class="hr--half" />
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="col-xs-12 col-md-6 Quote-Left-Column Quote-Right-Column-white">
            <div class="Quote-Right-Content">
                <h4 class="Content-Block-H3 h4-black-box white-content">
                    Услуги
                </h4>
                <hr class="hr--half white-content" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse-w u-margin-bottom-40">
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            <a class = "a-black" asp-area="" asp-controller="Services" asp-action="Corporate">Корпоративный отдых</a>
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            <a class = "a-black" asp-area="" asp-controller="Services" asp-action="Certificate">Подарочный сертификат</a>
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            <a class = "a-black" asp-area="" asp-controller="Services" asp-action="Accomodation">Проживание</a>
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            <a class = "a-black" asp-area="" asp-controller="Services" asp-action="Insurance">Страхование</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 Quote-Right-Column">
            <div class="Quote-Right-Content">
                <h3 class="Content-Block-H3 h4-black-box">
                    Об услугах
                </h3>
                <hr class="hr--half" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse u-margin-bottom-40">
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Агенство "Путешействуй!", реализует готовый туристический продукт
                            через сеть своих фирменных офисов в Москве, Санкт-Петербурге и
                            Екатеренбурге.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Комплексный подход «Путешествуй!» позволяет предлагать туры в
                            комплекте с пакетом услуг, включающим специальные программы
                            авиарейсов, наземные услуги (трансферы, встреча клиентов, ускоренное
                            прохождение регистрации аэропорту (fast track). услуги
                            профессиональных гидов-переводчиков. Это избавит Вас от
                            необходимости самостоятельно бронировать авиабилеты, транспорт,
                            номер в отеле и оформлять документы.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Персональный консультант агентства «Путешествуй!» берет на себя все
                            формальности и ведет заказ от начала поездки до возвращения клиента
                            из отпуска. Сотрудники службы контроля качества гарантируют, что на
                            любом этапе реализации тура клиенты получают именно то, что они
                            заказывали и оплачивали.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Данные преимущества позволяют сделать правильный выбор и найти
                            именно свой тур. Приглашаем вас по-новому открыть для себя мир и
                            совершить увлекательное путешествие с агентством «Путешествуй!». Не
                            отказывайте себе в этом удовольствии!
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
