<div>
    <h1 id="Services">Страхование</h1>
</div>
<hr class="hr--half" />
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="col-xs-12 col-md-6 Quote-Left-Column">
            <img src="/img/guest4.png" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-md-6 Quote-Right-Column">
            <div class="Quote-Right-Content-s">
                <h4 class="Content-Block-H3 h4-black-box">
                    Любая поездка за рубеж невозможна без Страхового полиса
                </h4>
                <hr class="hr--half" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse u-margin-bottom-40">
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Собираясь на отдых, или в деловую поездку
                            мы рекомендуем Вам позаботиться о приобретении Страхового полиса, который максимально соответствует
                            Вашим требованиям
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Мы готовы Вам предложить программы страхования от страховой компании
                            ЕРВ Туристическое Страхование, Вам остается только выбрать для себя ту, которая Вам больше подходит
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Акционерное Общество ЕРВ Туристическое Страхование открылось в Москве в августе 2006 года
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Уставный капитал АО ЕРВ Туристическое Страхование составляет 120 000 000 руб
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            На сегодняшний день это единственная компания в России, которая специализируется на страховании
                            путешествующих (97,1% от собранной страховой премии в 2014 и 97,8% в 2015 году)
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2 class="h2-guest">
            Страхование для краткосрочных поездок
        </h2>
    </div>
</div>
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="col-xs-12 col-md-6 Quote-Left-Column">
            <img src="/img/ins_01.jpeg" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-md-6 Quote-Right-Column-white">
            <br />
            <br />
            <br/>
            <img src="/img/ins_03.jpeg" class="img-responsive" />
        </div>
    </div>
</div>
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="col-xs-12 col-md-6 Quote-Left-Column Quote-Right-Column-white">
            <div class="Quote-Right-Content">
                <h4 class="Content-Block-H3 h4-black-box white-content">
                    Территория действия:
                </h4>
                <hr class="hr--half white-content" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse-w u-margin-bottom-40">
                    <li class="Line-List-Item-w">
                        <h4 class="Content-Block-H3 h4-black-box">
                            T-I
                        </h4>
                        <div class="Line-List-Text-m">
                            Все страны мира за исключением стран Южной и Северной Америки, в том числе стран
                            Карибского бассейна, а также Японии, Австралии, Новой Зеландии, Океании и страны постоянного проживания.
                            Для граждан Российской Федерации исключение ограничивается территорией внутри административной границы
                            постоянного места жительства.
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <h4 class="Content-Block-H3 h4-black-box">
                            T-II
                        </h4>
                        <div class="Line-List-Text-m">
                            Все страны мира за исключением страны постоянного места жительства. Для граждан
                            Российской Федерации (далее Резиденты РФ) исключение ограничивается территорией
                            внутри административной границы постоянного места жительства
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <h4 class="Content-Block-H3 h4-black-box">
                            T-III
                        </h4>
                        <div class="Line-List-Text-m">
                            Страны СНГ, Абхазия, включая Россию (для резидентов РФ ограничение
                            территория внутри административной границы постоянного места жительства. Для нерезидентов РФ ограничение
                            страна постоянного места жительства)
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 Quote-Right-Column">
            <div class="Quote-Right-Content">
                <h3 class="Content-Block-H3 h4-black-box">
                    Особые условия
                </h3>
                <hr class="hr--half" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse u-margin-bottom-40">
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Для Застрахованных старше 65 лет тарифы увеличиваются в 2 раза, старше 80 лет — в 4 раза
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Занятие неопасными видами спорта (включая дайвинг на глубине до 40 м, рафтинг, серфинг, виндсерфинг),
                            катание на горных лыжах и сноуборде в качестве любителя или профессионала и занятия иными опасными видами
                            спорта (мото-, автогонки, альпинизм, скалолазание) — тариф увеличивается в 2 раза — обозначается в полисе
                            как „RISKFUL SPORT”.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            Страхование распространяется на всех граждан, в том числе, на нерезидентов РФ.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2 class="h2-guest">
            Страхование многократных поездок
        </h2>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <img src="/img/ins_04.jpeg" class="img-responsive" />
    </div>
</div>
<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="col-xs-12 col-md-6 Quote-Left-Column Quote-Right-Column-white">
            <div class="Quote-Right-Content">
                <h4 class="Content-Block-H3 h4-black-box white-content">
                    Особые условия:
                </h4>
                <hr class="hr--half white-content" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse-w u-margin-bottom-40">
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Для Застрахованных старше 65 лет тарифы увеличиваются в 2 раза, старше 80 лет — в 4 раза.
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Занятие неопасными видами спорта (включая дайвинг на глубине до 40 м, рафтинг, серфинг,
                            виндсерфинг), катание на горных лыжах и сноуборде в качестве любителя или профессионала и
                            занятия иными опасными видами спорта (мото-, автогонки, альпинизм, скалолазание) — тариф
                            увеличивается в 2 раза — обозначается в полисе как „RISKFUL SPORT”.
                        </div>
                    </li>
                    <li class="Line-List-Item-w">
                        <div class="Line-List-Text-m">
                            Страхование распространяется на всех граждан, в том числе, на нерезидентов РФ.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 Quote-Right-Column">
            <div class="Quote-Right-Content">
                <h3 class="Content-Block-H3 h4-black-box">
                    Территория действия:
                </h3>
                <hr class="hr--half" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse u-margin-bottom-40">
                    <li class="Line-List-Item">
                        <h4 class="Content-Block-H3 h4-black-box">
                            T-I
                        </h4>
                        <div class="Line-List-Text">
                            Все страны мира за исключением стран Южной и Северной Америки, в том числе стран Карибского
                            бассейна, а также Японии, Австралии, Новой Зеландии, Океании и страны постоянного проживания.
                            Для граждан Российской Федерации исключение ограничивается территорией внутри административной
                            границы постоянного места жительства
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <h4 class="Content-Block-H3 h4-black-box">
                            T-II
                        </h4>
                        <div class="Line-List-Text">
                            Все страны мира за исключением страны постоянного места жительства. Для граждан Российской
                            Федерации (далее — «Резиденты РФ») исключение ограничивается территорией внутри
                            административной границы постоянного места жительства
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <h4 class="Content-Block-H3 h4-black-box">
                            T-III
                        </h4>
                        <div class="Line-List-Text">
                            Страны СНГ, Абхазия, включая Россию (для резидентов РФ ограничение — территория внутри
                            административной границы постоянного места жительства. Для нерезидентов РФ ограничение —
                            страна постоянного места жительства)
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>