html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    color: white;
    margin-bottom: 60px;
    background-image: url("/img/background.webp");
    background-color: #cccccc;
    font-family: "garamond";
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: "garamond";
    src: url('/font/garamondregular/GaramondRegular.ttf') format('truetype');
    src: url('/font/garamond-bold/garmond.ttf') format('truetype');
    src: url('/font/garamond-bold/GARMNDB.ttf') format('truetype');
    src: url('/font/garnarb/GARNARB.ttf') format('truetype');
    src: url('/font/garnari/GARNARI.ttf') format('truetype');
}

@font-face {
    font-family: "green-nature";
    src: url('/font/green-nature/GREENNATURE.ttf') format('truetype');
}

@font-face {
    font-family: "hello-summer";
    src: url('/font/hello-summer/HelloSummerPersonalUse.ttf') format('truetype');
}

.font-green-nature {
    font-family: "green-nature";
}

.font-hello-summer {
    font-family: "hello-summer";
}

.nvbr {
    font-family: 'Times New Roman', Times, serif;
    color: #262626;
    font-size: 0.825rem;
    text-transform: uppercase;
    letter-spacing: normal;
    letter-spacing: 0.185rem;
}

.bg-blur {
    --bs-bg-opacity: unset;
    background-color: unset;
    backdrop-filter: blur(8px);
}

.border-yeallow-cream {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-yeallow-cream-rgb), var(--bs-border-opacity)) !important;
}

.card-header-blur {
    border-bottom: var(--bs-card-border-width-blur) solid rgba(var(--bs-yeallow-cream-rgb), 0.175);
}

.card-footer-blur {
    border-top: var(--bs-card-border-width-blur) solid rgba(var(--bs-yeallow-cream-rgb), 0.175);
}

:root {
    --bs-card-border-width-blur: 1px;
    --bs-yeallow-cream-rgb: 230,207,150;
}

.sibling-fade {
    visibility: hidden;
}
/* Prevents :hover from triggering in the gaps between items */

.sibling-fade > * {
    visibility: visible;
}
/* Brings the child items back in, even though the parent is `hidden` */

.sibling-fade > * {
    transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.sibling-fade:hover > * {
    opacity: 0.4;
    transform: scale(0.9);
}
/* Fade out all items when the parent is hovered */

.sibling-fade > *:hover {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0ms, 0ms;
}
/* Fade in the currently hovered item */

.sibling-fade {
    display: flex;
    flex-wrap: wrap;
}

.sibling-fade > * {
    /*flex: auto; ВОЗМОЖНО НАДО ВЫКЛЮЧИТЬ*/
    text-decoration: none;
}

.row {
    margin-right: -20px;
    margin-left: -20px;
}

.img-responsive {
    width: 100%;
}

.Content-Block-H3 {
    margin: 0 0 20px;
}

.Content-Block-Image-Blurb-Wrapper {
    position: relative;
}

.Content-Block-Desc {
    margin-bottom: 0;
}

hr.hr--half {
    width: 100%;
    max-width: 62px;
    display: inline-block;
    margin: 0 0 10px;
    /*color: #e6cf96;*/
    opacity: 42%;
}

.Headline--Eyebrow{
    letter-spacing: 1px;
    line-height: 13px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "Helvetica Neue LT W01_71488914",helvetica,sans-serif;
}

.u-margin-bottom-30 {
    margin-bottom: 30px;
}

.white-content {
    color:black;
}

.u-no-margin-top {
    margin-top: 0;
}

@media all and (min-width: 78.75em) {
    .Section-Intro-Text {
        margin-top: -8px;
        margin-bottom: -8px
    }

        .Section-Intro-Text.Section-Intro--HasText {
            margin-bottom: 0
        }
}

@media all and (min-width: 47.9375em) {
	.Section-Intro-Text {
		margin-top: -10px;
		margin-bottom: -10px;
		padding-top: 20px;
		padding-bottom: 20px
	}

	.Section-Intro-Text.Section-Intro--HasText {
		margin-bottom: 0
	}
}

.Section-Intro-Text.Section-Intro--HasText p {
    margin-top: 20px
}

.u-component-spacer {
    padding-bottom: 30px
}

@media all and (min-width: 47.9375em) {
    .u-component-spacer {
        padding-bottom: 50px
    }
}

@media all and (min-width: 78.75em) {
    .u-component-spacer {
        padding-bottom: 60px
    }
}

.Section-Intro-Text {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    margin-top: -8px;
    margin-bottom: -8px;
    padding-top: 20px;
    padding-bottom: 20px
}

@media all and (min-width: 23.4375em) {
    .Section-Intro-Text {
        max-width: 90%
    }
}

@media all and (min-width: 64em) {
    .Section-Intro-Text {
        max-width: 70%
    }
}

.box {
    -webkit-mask-image: -webkit-radial-gradient(center, closest-side, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%);
}

.sidebar-dark {
    background-color: rgba(0,0,0,.3);
}

.Quote-Right-Column {
    background-color: #000;
}

.Quote-Right-Column-white {
    background-color: #fff;
}

.Quote-Left-Column {
    background-size: cover;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
}

.Quote-Right-Content {
    margin: 50px auto 60px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.Quote-Right-Content-s {
    margin: 40px auto 50px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.Quote-Text {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    font-family: "AdobeCaslonW01-Regular",serif;
    font-weight: 400;
}

.Quote-Title {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.img-responsive {
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
}

#map {
    height: 100%;
}

.map-control {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    font-family: "Roboto", "sans-serif";
    margin: 10px;
    /* Hide the control initially, to prevent it from appearing
           before the map loads. */
    display: none;
}

/* Display the control once it is inside the map. */
#map .map-control {
    display: block;
}

.selector-control {
    font-size: 14px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.h2-guest {
    font-size: 26px;
    letter-spacing: 7px;
    line-height: 36px;
    font-family: "Helvetica Neue LT W01_41488878",helvetica,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.p-guest {
    font-family: "Helvetica Neue LT W01_41488878",helvetica,sans-serif;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 28px;
    font-weight: 400;
}

a {
    color: white;
    /* text-decoration: none; */
}

.a-black {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.h4-black-box {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 4px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Helvetica Neue LT W01_41488878",helvetica,sans-serif;
    font-weight: 400;
}

.li-Text {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    font-family: "AdobeCaslonW01-Regular",serif;
    font-weight: 400;
}

.u-listUnstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.u-margin-bottom-40 {
    margin-bottom: 40px;
}

.List-Line--Reverse {
    border-bottom: 1px solid #000;
    color: #000;
}

.List-Line--Reverse-w {
    /*border-bottom: 1px solid #000;*/
    color: #000;
}

.Line-List-Text {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.Line-List-Text-center {
    vertical-align: middle;
    text-align: center;
}

.Line-List-Text-m {
    vertical-align: middle;
    text-align: center;
}

.Line-List-Item {
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-top: 0;
    list-style: none;
    padding: 15px 0;
}
.Line-List-Item-w {
    border-bottom: 1px solid #000;
    color: #000;
    padding-top: 0;
    list-style: none;
    padding: 15px 0;
}
.Content-Block-Col-Image {
    margin-bottom: 0;
    position: relative;
}

.col-md-pull-8 {
    right: 66.6666666667%;
    position: relative;
}

.col-md-push-4 {
    left: 33.3333333333%;
}

.table-airport {
    color: white;
    border: 1px solid;
    border-collapse: separate;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    border-color: rgba(var(--bs-yeallow-cream-rgb), var(--bs-border-opacity)) !important;
}

.table-border {
    border-bottom: 0px;
}

.table-border-color {
    border-color: #e6cf96;
}

.development {
    font-family: "green-nature";
}

.navbar-ul {
    align-items: center;
}

.navbart-a {
    display: flex;
    align-items: center;
}