<div class="container u-component-spacer">
    <div class="row Content-Block-Row">
        <div class="col-xs-12 col-md-6 Quote-Left-Column">
            <img src="/img/guest3.png" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-md-6 Quote-Right-Column">
            <div class="Quote-Right-Content">
                <h3 class="Content-Block-H3 h4-black-box">
                    Утеря багажа
                </h3>
                <hr class="hr--half" />
                <ul class="u-listUnstyled List-Line List-Line--Reverse u-margin-bottom-40">
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            1. Обратиться на специализированную стойку: в разных аэропортах такая стойка называется
                            по-разному. Например: Lost baggage.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            2. Вы должны заполнить анкету , в которой указать, как минимум цвет чемодана, размер, форму и т.д.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            3. Вы должны указать свой контактный телефон и адрес, по которому вам обязаны доставить
                            багаж (отель или ваш дом). Укажите и устно и письменно, что вы находитесь в этом отеле до
                            такого-то числа, потому что поиск и доставка может растянуться до 3-х дней.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            4. Вам выдадут на руки квитанцию, в которой вам будет важен номер багажа он состоит
                            из: 3-х первые буквы аббревиатура аэропорта, куда вы прибыли, 2 буквы - аббревиатура
                            авиакомпании, которой вы летели и 5-ти значный номер: пример FCO LH 27960.
                            Там же будет указан номер практики (поиска) пример 2222293.
                        </div>
                    </li>
                    <li class="Line-List-Item">
                        <div class="Line-List-Text">
                            5. Помните, что в отеле на стойке регистрации, Вам всегда окажут посильную помощь в розыске багажа.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container Section-Intro-Text u-component-spacer sidebar-dark">
    <div class="Section-Intro-Text Section-Intro--HasText">
        <h2>
            В случае Вашей заинтересованности мы с удовольствием обсудим детали.
        </h2>
        <p>
            <div>
                Телефон: +7 495 955 24 24, WhatsApp: <a href="https://wa.me/79689401802" target="_blank">+7 968 940 18 02</a>
            </div>
        </p>
    </div>
</div>
